* {
    padding: 0;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 749px) {
    body{                                               /*контейнер*/
        height: 100%;
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: 150px auto;
        grid-template-areas: 
            "nav header"
            "main main"
        ;
    }
    #pageHeader{                                    /*хедер*/
        grid-area: header;
        padding: 8px;
        align-self: center;
        border-bottom: 5px solid rgb(75, 59, 28);
        background: radial-gradient(100% 80%, #857154, #6b5a3f);
    }
    #menuBar{
        grid-area: nav;
        padding: 8px;
        border-bottom: 5px solid rgb(75, 59, 28);
        border-right: 5px solid rgb(75, 59, 28);
        background-color: #857154;
    }
    #pageMenu{                                      /*менюшка*/
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 150px;
        left: 0;
        background-color: inherit;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
    }
    #main{                                          /*главная область*/
        grid-area: main;
        padding: 5px;
    }
    .front{                                              /*фотка*/
        padding-left: 30%;
        padding-right: 30%;
        height: 40%;
        width: 40%;
    }
    .h3_style{                                               /*заголовок*/   
        font-family: 'Viaoda Libre', cursive; 
        font-size: 45px;
        line-height: 1.0;
        margin-bottom: 2%;
        color: #524833;
        text-align: center;
    }
    .p_style{                                               /*описание*/
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-top: 2%;
        color: #241d0b;
        padding-left: 2%;
    }
    .attention{
        font-family: 'Viaoda Libre', cursive;
        font-size: 30px;
        margin-top: 2%;
        color:  #4d4431;
    }
    .button_style{                                          /*кнопка*/
        border: 2px solid #6b6b6b;
        margin-right: 30%;
        margin-left: 30%;
        margin-top: 3%;
        text-align: center;
    }
    .source{                                                /*ссылка кнопки*/
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: #383429;
        text-decoration: none;
    }
    #okno {
        width: 300px;
        height: 250px;
        text-align: center;
        padding: 10px;
        border: 3px solid #2b2211;
        border-radius: 10px;
        color: #ebe4d5;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 28px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: rgb(143, 120, 103);
    }
    #okno > img{
        float: left; 
        margin-top: 20px;
        height: 150px;
        width: 150px;
    }
    #okno > div{
        display: flex;
        flex-direction: column;
    }
    #okno > a[href="#main_anchor"]{
        position: absolute;
        right: 3%;
        top: 1%;
        font-size: 35px;
        text-decoration: none;
        color: inherit;
    }
}

@media (min-width:750px) and (max-width: 1023px){
    body{                                               /*контейнер*/
        height: 100%;
        display: grid;
        grid-template-columns: 10% auto;
        grid-template-rows: 150px auto;
        grid-template-areas: 
            "nav header"
            "main main"
        ;
    }
    #pageHeader{                                    /*хедер*/
        grid-area: header;
        padding: 8px;
        border-bottom: 5px solid rgb(75, 59, 28);
        background: radial-gradient(100% 80%, #857154, #6b5a3f);
    }
    #menuBar{
        grid-area: nav;
        padding: 8px;
        border-bottom: 5px solid rgb(75, 59, 28);
        border-right: 5px solid rgb(75, 59, 28);
        background-color: #857154;
    }
    #pageMenu{                                      /*менюшка*/
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 150px;
        left: 0;
        background-color: inherit;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
    }
    #main{                                          /*главная область*/
        grid-area: main;
    }
    .front{                                              /*фотка*/
        float: left;
        height: 30%;
        width: 30%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .h3_style{                                               /*заголовок*/   
        font-family: 'Viaoda Libre', cursive; 
        font-size: 75px;
        line-height: 1.0;
        margin-bottom: 2%;
        color: #524833;
        text-align: center;
    }
    .p_style{                                               /*описание*/
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        margin-top: 2%;
        color: #241d0b;
        padding-left: 2%;
    }
    .attention{
        font-family: 'Viaoda Libre', cursive;
        font-size: 40px;
        margin-top: 2%;
        color:  #4d4431;
    }
    .button_style{                                          /*кнопка*/
        border: 2px solid #6b6b6b;
        margin-right: 35%;
        margin-left: 35%;
        margin-top: 3%;
        text-align: center;
    }
    .source{                                                /*ссылка кнопки*/
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        color: #383429;
        text-decoration: none;
    }
    #okno {
        width: 500px;
        height: 250px;
        text-align: center;
        padding: 15px;
        border: 3px solid #2b2211;
        border-radius: 10px;
        color: #ebe4d5;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 35px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: rgb(143, 120, 103);
    }
    #okno > img{
        float: left; 
        padding-left: 25px;
        height: 207px;
        width: 195px;
    }
    #okno > div{
        margin-left: 200px; 
        margin-top: 50px;
    }
    #okno > a[href="#main_anchor"]{
        position: absolute;
        right: 3%;
        top: 1%;
        font-size: 45px;
        text-decoration: none;
        color: inherit;
    }
}

@media (min-width: 1024px) and (max-width: 2560px){
    body{                                               /*контейнер*/
        height: 100%;
        display: grid;
        grid-template-columns: 6% auto;
        grid-template-rows: 150px auto;
        grid-template-areas: 
            "header header"
            "nav main"
        ;
    }
    #menuBar{
        visibility: hidden;
    }
    #pageHeader{                                    /*хедер*/
        grid-area: header;
        padding: 10px;
        border-bottom: 5px solid rgb(75, 59, 28);
        background: radial-gradient(100% 80%, #857154, #6b5a3f);
    }
    #pageMenu{                                      /*менюшка*/
        grid-area: nav;
        padding: 10px;
        border-right: 5px solid rgb(75, 59, 28);
        display: flex;
        flex-direction: column;
    }
    #main{                                          /*главная область*/
        grid-area: main;
    }
    .front{                                              /*фотка*/
        float: left;
        margin-right: 2%;
        margin-left: 2%;
    }
    .h3_style{                                               /*заголовок*/   
        font-family: 'Viaoda Libre', cursive; 
        font-size: 75px;
        line-height: 1.0;
        margin-bottom: 2%;
        color: #524833;
        text-align: center;
    }
    .p_style{                                               /*описание*/
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        margin-top: 2%;
        color: #241d0b;
        padding-left: 2%;
    }
    .attention{
        font-family: 'Viaoda Libre', cursive;
        font-size: 40px;
        margin-top: 2%;
        color:  #4d4431;
    }
    .button_style{                                          /*кнопка*/
        border: 2px solid #6b6b6b;
        margin-right: 35%;
        margin-left: 35%;
        margin-top: 3%;
        text-align: center;
    }
    .source{                                                /*ссылка кнопки*/
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        color: #383429;
        text-decoration: none;
    }
    #okno {
        width: 500px;
        height: 250px;
        text-align: center;
        padding: 15px;
        border: 3px solid #2b2211;
        border-radius: 10px;
        color: #ebe4d5;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 35px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: rgb(143, 120, 103);
    }
    #okno > img{
        float: left; 
        padding-left: 25px;
        height: 207px;
        width: 195px;
    }
    #okno > div{
        margin-left: 200px; 
        margin-top: 50px;
    }
    #okno > a[href="#main_anchor"]{
        position: absolute;
        right: 3%;
        top: 1%;
        font-size: 45px;
        text-decoration: none;
        color: inherit;
    }
}

.block_style{                                       /*сам блок*/
    padding-top: 3%;
    padding-bottom: 10%;
}
.backgrnd{
    background-color:#dfdfdf;
}
#attention_advent, #attention_diab, #attention_system, #attention_minister, #attention_lanya,
#attention_wolf, #attention_erha_1, #attention_erha_2, #sorry
{
    background: rgba(48, 48, 48, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#attention_advent:target, #attention_diab:target, #attention_system:target, #attention_minister:target,
#attention_lanya:target, #attention_erha_1:target, #attention_wolf:target, #attention_erha_2:target, #sorry:target
{display: block;}
.close {
    display: inline-block;
    border: 1px solid #2b2211;
    color: #1b1209;
    padding: 0 12px;    
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-decoration: none;
    background: #ebe4d5;
    cursor:pointer;
}